<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Certitimer!</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Certitimer!</h1>
        <h2>Estimate the time left until your SOM project gets ceritified</h2>
        <h5>(or rejected)</h5>
        <form>
            <input name="url" type="url" placeholder="Project URL" value="<%= url %>">
            <input type="submit">
        </form>
        <p><i>Please note: this is just an estimate!!</i></p>
        <% if(res !== null) { %>
            <div id="res">
                <% if(res === -1) { %>
                    <p>Oops! There was an error. Make sure that you:</p>
                    <ul>
                        <li>Entered a valid project URL;</li>
                        <li>Have made at least one devlog;</li>
                        <li>Have your project listed on <a href="https://somps.vercel.app" target="_blank">SOMPS</a>.</li>
                    </ul>
                <% } else if(res === -2) { %>
                    <p>Oops! According to our calculations, it should be already certified or rejected!</p>
                    <p><i>Expect your certification then! Good luck!!</i></p>
                <% } else { %>
                    <h1>I predict that...</h1>
                    <!-- Parseable output: [[<%= res %>]]ms -->
                    <h2>You're gonna get certified in about <%= Math.floor(res / (24 * 3600 * 1000)) %>d <%= Math.floor(res / (3600 * 1000)) % 24 %>h <%= Math.floor(res / (60 * 1000)) % 60 %>m <%= Math.floor(res / (1000)) % 60 %>s!</h2>
                    <p><a href="https://github.com/Milk-Cool/Certitimer" target="_blank">Did I get it right? Star me on GitHub!</a></p>
                <% } %>
            </div>
        <% } %>
    </body>
</html>